.instructions {
    text-align: center;
    font-size: 2rem;
}

#content {
    text-align: center;
}

#game-result {
    font-size: 1.5rem;
}

.hidden-stuff {
    opacity: 0;
    margin-top: 20px;
    text-align: center;
}

#total-resets {
    font-size: 1.5rem;
}

#bottom-text {
    text-align: center;
}